
.index-columns:hover {
  opacity: 0.5;
}

.index-text {
  text-align: center;
}

table {
  border: 2px solid #fc5000;
  width: 100%;
  text-align: center;
}

th, td {
  border: 1px solid #fc5000;
}

a:hover {
  text-decoration: none;
}