{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href={% static 'css/detail.css' %}>
{% load staticfiles %}
{% load bootstrap4 %}

{% block body %}

<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15"
	style="background-image: url(images/bg-title-page-03.jpg);">
	<h2 class="tit6 t-center">
		{% if restaurant.img_path %}
		<img src="{{restaurant.img_path.url}}" class="rounded card-img-top">
		{% else %}
		<img src="{% static 'images/no-image.png' %}" style="width: 100%">
		{% endif %}
	</h2>
</section>

<div class="container">
	<!-- 폰트 설정 위치 -->
	<div class="txt36 row p-b-50">
		<div class="col-9 bo5-r">
			<h2 class="p-b-16"> {{ restaurant.name }} </h2>

			<div class="flex-w p-b-50">
				<ul>
					<li>{{ restaurant.r_type }}</li>
					<li>{{ restaurant.addr }}</li>
					<li>대표 메뉴: {{ restaurant.main_menu }}</li>
					<br>
					<h5>메뉴판</h5>
				</ul>

				<table>
					<thead>
						<tr>
							<th>메뉴</th>
							<th>가격</th>
						</tr>
					</thead>
					<tbody>
						{% for item in menu %}
						<tr>
							{% for it in item %}
							<th>{{ it }}</th>
							{% endfor %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-3">
			<!-- Search -->
			<div class="search-sidebar2 size12 bo2 pos-relative">
				<input class="input-search-sidebar2 txt10 p-l-20 p-r-55" type="text" name="search" placeholder="검색어를 입력하세요">
				<button class="btn-search-sidebar2 flex-c-m ti-search trans-0-4"></button>
			</div>

			<!-- Categories -->
			<div class="categories m-t-50">
				<h4 class="txt33 bo5-b p-b-35">
					Categories
				</h4>

				<ul>
					<li class="bo5-b p-t-8 p-b-8">
						<a href="#" class="txt27">
							BACK
						</a>
					</li>

					<li class="bo5-b p-t-8 p-b-8">
						<a href="#" class="txt27">
							INDEX
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="m-b-50">
		<h4 class="txt33 p-b-10">Comments</h4>
		{% for comment in comments %}
		{% include 'restaurant/_comment.html' %}
		{% empty %}
		{% include 'restaurant/empty.html' %}
		{% endfor %}
	</div>

	{% if user.is_authenticated %}
	<div class="m-b-50">
		<!-- Leave a comment -->
		<h4 class="txt33 p-b-10">
			Leave a Comment
		</h4>
		<form action="{% url 'restaurant:comment' restaurant.pk %}" class="leave-comment p-t-10" method="POST">
			{% csrf_token %}
			{{ comment.form }}
			<fieldset class="rating">
				<input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
					title="Awesome - 5 stars"></label>
				<input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half"
					title="Pretty good - 4.5 stars"></label>
				<input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
					title="Pretty good - 4 stars"></label>
				<input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half"
					title="Meh - 3.5 stars"></label>
				<input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
					title="Meh - 3 stars"></label>
				<input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half"
					title="Kinda bad - 2.5 stars"></label>
				<input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
					title="Kinda bad - 2 stars"></label>
				<input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half"
					title="Meh - 1.5 stars"></label>
				<input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
					title="Sucks big time - 1 star"></label>
				<input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf"
					title="Sucks big time - 0.5 stars"></label>
					
			</fieldset>

			<textarea class="bo-rad-5 size29 bo2 txt10 p-l-20 p-t-15 m-b-10 m-t-40 " name="commentText"
				placeholder="Comment..."></textarea>
			<input type="submit" value="댓글작성" name="comment" class="btn btn-secondary" style="display:inline">
		</form>

		{% else %}
		<a href="{% url 'accounts:login' %}"> [댓글 작성하려면 로그인하세요] </a>
		{% endif %}
	</div>
</div>

{% endblock body %}