{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href={% static 'css/detail.css' %}>
{% load staticfiles %}

{% block body %}

<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15"
	style="background-image: url(images/bg-title-page-03.jpg);">
	<h2 class="tit6 t-center">
		<img src="{{restaurant.img_path.url}}" class="rounded card-img-top">
	</h2>
</section>

<div class="container">
	<div class="p-t-80 p-b-124 bo5-r p-r-50 h-full p-r-0-md bo-none-md">
		<!-- Block4 -->
		<div class="blo4 p-b-63">

			<!-- - -->
			<div class="text-blo4">
				<h2 class="p-b-16">
					{{ restaurant.name }}
				</h2>

				<div class="flex-w">
					<ul>
						<li>{{ restaurant.r_type }}</li>
						<li>{{ restaurant.addr }}</li>
						<li>대표 메뉴: {{ restaurant.main_menu }}</li>
						<br>
						<h5>메뉴판</h5>
					</ul>
				</div>
				<table>
					<thead>
						<tr>
							<th>메뉴</th>
							<th>가격</th>
						</tr>
					</thead>
					<tbody>
						{% for item in menu %}
						<tr>
							{% for it in item %}
							<th>{{ it }}</th>
							{% endfor %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% comment %}
<!-- Leave a comment -->
<form class="leave-comment">
	<h4 class="txt33 p-b-14">
		Leave a Comment
	</h4>

	<p>
		Your email address will not be published. Required fields are marked *
	</p>

	<textarea class="bo-rad-10 size29 bo2 txt10 p-l-20 p-t-15 m-b-10 m-t-40" name="commentent"
		placeholder="Comment..."></textarea>

	<div class="size30 bo2 bo-rad-10 m-t-3 m-b-20">
		<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="name" placeholder="Name *">
	</div>


	<!-- Button3 -->
	<button type="submit" class="btn3 flex-c-m size31 txt11 trans-0-4">
		Post Comment
	</button>
</form> {% endcomment %}
</section>


{% endblock body %}