{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block body %}
<section class="section-welcome p-t-120 p-b-105">
  <div class="container">
    <form class="mb-4" action="">
						<div class="form-row justify-content-end">
							<div class="col-12 col-sm-9 col-md-10">
								<input type="text" name="query" class="form-control" placeholder="검색어를 입력해주세요">
							</div>
							<div class="col-3 col-sm-3 col-md-2">
								<input type="submit" class="form-control btn btn-secondary" value="검색">
							</div>
						</div>
					</form>
    <div class="row">
      {% for restaurant in restaurants %}
      {% include 'restaurant/_restaurant.html' %}
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}