{% extends 'base.html' %}

{% block body %}
<section class="section-welcome p-t-120 p-b-105">
  <div class="container">
    <span>
      <h1 style="text-decoration: underline; font-weight:bold;">마이페이지</h1><span>
        <div>
          <h3 class="p-b-105">{{user.username}}님의 방문 내역</h3>
          <div>
            {% for comment in user.comment_set.all %}
            <div class="card">
              <div class="row">
                <div class="col-9">
                  <div class="card-title">
                    {{ comment.restaurant.name }}
                  </div>
                  <div>
                    {{ comment.content }}
                  </div>
                </div>
                <div class="col-3" style="text-align: center;">
                  {{ comment.score }}
                </div>
                {% comment %} <div class="col-9" style="color: #fc5000; font-size:x-large;">
                  {{comment.restaurant.name}}
                </div>
                <div class="col-3">
                  방문 점수: {{ comment.score }}</div>
                </div>
                <div class="row card-body">
                  {{ comment.content }}
                </div> {% endcomment %}
            </div>
            {% endfor %}
</section>
{% endblock body %}