{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>뭐먹을까</title>
{% bootstrap_css %}
 <link rel="shortcut icon" href="{% static 'restaurant/favicon/favicon.ico' %}" type="image/x-icon" >
<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/a84f15c24e.js" crossorigin="anonymous"></script>
</head>
<body>
  {% include '_nav.html' %}
  <div class="container">
   
    {% block body %}
    {% endblock body %}
  </div>

{% bootstrap_javascript jquery='full' %}
</body>
</html>